@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 16% 4%;
    --foreground: 220 15% 96%;
    --card: 228 14% 7%;
    --card-foreground: 220 15% 96%;
    --popover: 228 14% 7%;
    --popover-foreground: 220 15% 96%;
    --primary: 220 15% 96%;
    --primary-foreground: 228 16% 4%;
    --secondary: 225 12% 11%;
    --secondary-foreground: 220 15% 90%;
    --muted: 225 12% 11%;
    --muted-foreground: 220 8% 46%;
    --accent: 225 12% 11%;
    --accent-foreground: 220 15% 90%;
    --destructive: 0 63% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 10% 11%;
    --input: 225 10% 14%;
    --ring: 172 66% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
